html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(14, 17, 22);
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.2rem;
  min-width: 663px;
}

h2 {
  line-height: 60px;
  font-family: 'Righteous', cursive;
  font-size: 3rem;
  font-weight: 200;
  color: #fff;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: 500;
}

hr {
  margin-top: 50px;
  border-width: 0;
  background-color: rgb(92, 201, 159);
  height: 5px;
  width: 50px;
}

/* Navigation Bar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 663px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.8) !important;
  padding-top: 20px;
  z-index: 1;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-left: 1rem;
  margin-right: 1rem;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
    font-size: 18px;
    color: rgb(92, 201, 159);
}

.logo {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 0;
  margin-right: 0;
}

.modify-logo {
  width: 75px;
  height: 60px;
}

a {
  color: rgb(92, 201, 159);
}

li {
  list-style-type: none
}

/* SVG Modify */
.modify-svg {
  width: 40px;
  height: 40px;
}

/* Button */
.button-modify{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 35px;
  padding-right: 35px;
  text-decoration: none;
  border-radius: 50px 50px 50px 50px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(92, 201, 159);
  background-color: transparent;
  font-size: 18px;
  color: rgb(92, 201, 159);
  line-height: 18px;
  margin-top: 40px;
  transition: 299ms;
}

.button-modify:hover {
  border-color: rgb(92, 201, 159);
  background-color: rgb(92, 201, 159);
  font-size: 18px;
  color: rgb(14, 17, 22);
}

/* Less than 1054px */
@media (max-width: 1054px) {

  /* Making Header */
  header {
    background-color: rgb(0, 0, 0);
    color: #fff;
    text-align: center;
    padding: 2rem;
    border-radius: 5px;
    font-size: 18px;
  }

  h2 {
    text-align: center;
  }

  /* Image modify */
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .modify-img {
    float: left;
    background-color: #131F22;
    box-shadow: 30px 30px 0px 0px rgba(254, 229, 181, 0.05);
    border-radius: 20px 0px 20px 0px;
    margin-bottom: 100px;
  }

  /* About me*/
  .aboutme-row {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 150px;
    padding-left: 100px;
    padding-right: 100px;
  }
  
  .aboutme-col-img {
    flex: 50%;
  }

  .aboutme-col-txt-container {
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .aboutme-col-txt-items {
    flex: 50%;
    text-align: center;
  }

  /* Areas of Interests */
  .interest-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
  }

  .interest-items {
    width:auto;
    height: auto;
    min-height: 20rem;
    margin:0rem 5rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;

    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: 20px 20px 0px 0px rgba(254, 229, 181, 0.05);
    border-radius: 20px 0px 20px 0px;
  }

  .interest-items-container {
    display: flex;
    flex-direction: column;
  }

  .interest-items-img {
    display: 20%;
    margin-bottom: 30px;
  }

  .interest-items-txt {
    display: 80%;
    text-align: center;
  }

  /* My Skills and Tools */
  .skills {
    padding-bottom: 50px;
  }

  .skills-n-tools-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .skills-n-tools-items {
    align-items: center;
    margin: 1rem 1rem;
    width: 25rem;
    background-color: black;
    box-shadow: 10px 10px 0px 0px rgba(254, 229, 181, 0.05);
    border-radius: 20px 0px 20px 0px;
  }

  .skills-n-tools-items-container {
    width:auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 10px 10px 10px;
  }

  .skills-n-tools-items-pic {
    flex: 40%;
    justify-content: flex-end;
  }

  .skills-n-tools-items-text {
    flex: 60%;
    text-align: left;
  }

  /* My projects */
  .project-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
  }

  .project-items {
    display: flex;
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: black;
  
    box-shadow: 20px 20px 0px 0px rgba(254, 229, 181, 0.05);
    border-radius: 20px 0px 20px 0px;
  }

  .project-items-container {
    flex: 100%;
    display: flex;
    flex-direction: row;
    padding: 30px 30px 30px 30px;
    text-align: left;
    justify-content: center;
    align-items: center;
  }

  .project-items-img {
    flex: 20%;
    margin-right: 20px;
  }

  .project-items-txt {
    flex: 80%;
  }

  .modify-thumbnail {
    float: left;
    border-radius: 10px 0px 10px 0px;
    filter: brightness(80%);
  }

  /* Let's Connect */
  .connect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(0, 0, 0);
  }

  .connect-items {
    display: flex;
  }

  .connect-social-container {
    margin: 0 auto;
    display: flex;
    flex-direction: center;
    flex-basis: 25em;
  }

  .connect-icons {
    margin-left: 10px;
    margin-right: 10px;
    flex: calc(100/ 3);
  }

  .connect h2 {
    margin-bottom: 20px;
  }

}


/* Greater than 1055px */
@media (min-width: 1055px) and (orientation: landscape){
  /* Making Header */
  header {
    background-color: rgb(0, 0, 0);
    color: #fff;
    text-align: right;
    padding: 2rem;
    border-radius: 5px;
    font-size: 18px;
  }

  /* Image modify */
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .modify-img {
    background-color: #131F22;
    box-shadow: 30px 30px 0px 0px rgba(254, 229, 181, 0.05);
    border-radius: 20px 0px 20px 0px;
  }

  /* About me */
  .aboutme-row {
    width: 1023px;
    display: flex;
    margin: 0 auto;
    max-width: 100%;
    padding-top: 50px;
    padding-bottom: 100px;
  }
  
  .aboutme-col-img {
    flex: 40%;
    padding-left: auto;
  }

  .aboutme-col-txt-container {
    flex: 60%;
    display: flex;
    flex-direction: column;
  }

  .aboutme-col-txt-items {
    flex: 100/3%;
    padding-left: 100px;
    text-align: left;
    align-items: top;
  }

  /* Areas of Interests */
  .interest-container {
    display: flex;
    flex-direction: row;
    padding-bottom: 100px;
  }

  .interest-items {
    margin: auto 5rem;
    width: 100%;
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: 20px 20px 0px 0px rgba(254, 229, 181, 0.05);
    border-radius: 20px 0px 20px 0px;
  }

  .interest-items-container {
    display: flex;
    flex-direction: column;
  }

  .interest-items-img {
    display: 20%;
    margin-bottom: 30px;
  }

  .interest-items-txt {
    display: 80%;
    text-align: center;
  }

  /* My Skills and Tools */
  .skills {
    padding-bottom: 50px;
  }
  
  .skills-n-tools-container {
    display: flex;
    flex-direction: row;
  }

  .skills-n-tools-items {
    margin: 2rem 1rem;
    width: 100%;
    height: 4rem;
    background-color: black;
    padding: auto;
    box-shadow: 10px 10px 0px 0px rgba(254, 229, 181, 0.05);
    border-radius: 20px 0px 20px 0px;
  }

  .skills-n-tools-items-container {
    width:auto;
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .skills-n-tools-items-pic {
    flex: 40%;
  }

  .skills-n-tools-items-text {
    flex: 60%;
    text-align: left;
  }

   /* My projects */
   .project-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
  }

  .project-items {
    display: flex;
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: black;
  
    box-shadow: 20px 20px 0px 0px rgba(254, 229, 181, 0.05);
    border-radius: 20px 0px 20px 0px;
  }

  .project-items-container {
    flex: 100%;
    display: flex;
    flex-direction: row;
    padding: 20px 20px 20px 20px;
    text-align: left;
    justify-content: center;
    align-items: center;
  }

  .project-items-img {
    flex: 20%;
    margin-right: 20px;
  }

  .project-items-txt {
    flex: 80%;
  }

  .modify-thumbnail {
    float: left;
    border-radius: 10px 0px 10px 0px;
    filter: brightness(80%);
    width: 500px;
    height: 150px;
  }

  /* Let's Connect */
  .connect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(0, 0, 0);
  }

  .connect-items {
    display: flex;
  }

  .connect-social-container {
    margin: 0 auto;
    display: flex;
    flex-direction: center;
    flex-basis: 25em;
  }

  .connect-icons {
    margin-left: 10px;
    margin-right: 10px;
    flex: calc(100/ 3);
  }

  .connect h2 {
    margin-bottom: 20px;
  }

}